@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: "Roboto";
}

html,
body,
#__next {
  height: 100%;
  background-color: black;
  color: white;
}
body,
.next {
  margin: 0;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(19.2px + 1vw);
}

.inputField {
  background: none;
  border-radius: 1px;
  color: rgb(167, 167, 167);
  outline: none;
  width: 40vw;
  height: 1em;
  font-size: calc(19.2px + 1vw);
  margin-bottom: 20px;
  border: 0;
  border-bottom: 2px solid rgb(44, 44, 44);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: calc(19.2px + 1vw);
  width: calc(64px + 10.5vw);
  height: calc(32px + 2.5vw);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  margin-top: 1vw;
}

.backButton {
  border-radius: 100px;
  position: absolute;
  right: calc(4px + 0.5vw);
  top: calc(4px + 0.5vw);
  left: calc(4px + 0.5vw);
  margin: calc(4px + -8px);
  background-color: rgb(44, 44, 44);
  width: calc(32px + 2vw);
  height: calc(32px + 2vw);
  text-align: center;
}

::placeholder {
  color: rgb(102, 102, 102);
}
.inputError {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}
.inputLabel {
  margin: 1vw;
  margin-left: 0;
  margin-right: 0;
}

.loader {
  position: fixed;
  border: 0.4vw solid #c4c4c4;
  border-top: 0.4vw solid #082b42;
  border-radius: 50%;
  width: calc(32px + 1vw);
  height: calc(32px + 1vw);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home > h1 {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1 {
  margin-bottom: 1vw;
}

.changeNickname {
  resize: none;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
  height: 1em;
  max-height: 1em;
  min-height: 1em;
  max-width: 100%;
  overflow: hidden;
  text-justify: center;
  margin: 0;
}

.changeNicknameForm {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: -0.5vw;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

.loggedAs {
  position: fixed;
  position: absolute;
  right: 1%;
  top: -2%;
}

.newNicknameError {
  margin: 1vw;
  color: red;
}

.loginContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
