@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: "Roboto";
  flex-direction: column;
}

body {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 2vw;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
input {
  background: rgb(12, 12, 12);
  border-radius: 1px;
  color: white;
  outline: none;
  width: 40vw;
  height: 3vw;
  font-size: 2vw;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 2px solid rgb(44, 44, 44);
  padding-left: 1vw;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 2vw;
  width: 14vw;
  height: 4vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backButton {
  border-radius: 100px;
  position: absolute;
  right: 1vw;
  top: 1vw;
  left: 1vw;
  margin: -8px;
  background-color: rgb(44, 44, 44);
  width: 4vw;
  height: 4vw;
}

::placeholder {
  color: rgb(172, 172, 172);
}

.home > h1 {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
