@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  font-family: "Roboto";
  flex-direction: column;
}

body {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 2vw;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
input {
  background: none;
  border-radius: 1px;
  color: rgb(167, 167, 167);
  outline: none;
  width: 40vw;
  height: 3vw;
  font-size: 2vw;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 2px solid rgb(44, 44, 44);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  font-size: 2vw;
  width: 14vw;
  height: 4vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1vw;
}

.backButton {
  border-radius: 100px;
  position: absolute;
  right: 1vw;
  top: 1vw;
  left: 1vw;
  margin: -8px;
  background-color: rgb(44, 44, 44);
  width: 4vw;
  height: 4vw;
  text-align: center;
}

::placeholder {
  color: rgb(102, 102, 102);
}
.inputError {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}
.inputLabel {
  margin: 1vw;
  margin-left: 0;
  margin-right: 0;
}

.loader {
  position: fixed;
  border: 0.4vw solid #c4c4c4;
  border-top: 0.4vw solid #082b42;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home > h1 {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1 {
  margin-bottom: 1vw;
}

.changeNickname {
  resize: none;
  color: white;
  background: none;
  border: none;
  outline: none;
  font-size: 4vw;
  height: 6vw;
  max-height: 6vw;
  width: 20vw;
  overflow: hidden;
  text-justify: center;
  margin: 0;
}

.changeNicknameForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -3.5vw;
}

.loggedAs {
  position: absolute;
  right: 0;
  top: -2vw;
  bottom: 0;
  left: 100;
}

.newNicknameError {
  margin: 0;
  color: red;
}
